
@{
    ViewBag.Title = "Ornek";
}

<h2>Show Data ORNEK</h2>
@ViewData["Ad"]="Bu Controllerdan ViewData ile Gelen Veridir.";
<br />
@ViewBag.Adi="Bu Controllerdan ViewBag ile Gelen Veridir.";
<br />
@TempData["Ad"]="Bu Controllerdan TempData ile Gelen Veridir.";

